body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .hero-body{
    height: 300px;
    background-color: rgb(24, 24, 109);
    text-align: center;
    color: white;
  }
  .title {
    font-size: 150px;
    color: white;
  }
  .subtitle {
    font-size: 50px;
    color: white;
  }
  .midtitle {
    font-size: 50px;
    text-align: center;
  }
  .middesc {
    font-size: x-large;
    text-align: center;
    margin: 50px;
  }
  .landImg {
    margin: 0;
    width: 200px;
    height: 200px;
   
  }
  .navbar {
    background-color:rgb(231, 154, 11);
  }
  .inputbox {
    width: 500px;
    height: 40px;
  }
  .loginContent {
      position: relative;
      height: auto;
      width: 420px;
      padding: 10px;
      border-radius: 15px;
      background-color: rgb(231, 154, 11);
      margin-top: 5rem;
      margin-bottom: 5rem;
      border-color: #d2b57f;
      border-style: solid;
      box-shadow: 0 3px 6px #999, 0 3px 6px #999;
      color: #d2b57f;
  }
  .signupContent {
    position: relative;
    height: auto;
    width: 620px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(231, 154, 11);
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-color: #d2b57f;
    border-style: solid;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    color: #d2b57f;
}

