form.search {
    overflow: auto;
    margin-bottom: 10px;
  }
  
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;

  }
  .form-control {
    border-color: rgb(231, 154, 11);
    width: 90%;
    height: 50px;
    font-size: 50px;
    border-radius: 5%;

  }